@model PostViewModel

@{

}
<section class="panel__edit section">
    <div>
        <form class="edit__form grid" asp-controller="Panel" asp-action="Edit" method="post" enctype="multipart/form-data">
            <input asp-for="Id" type="hidden">
            <div class="edit__inputs edit__grid margin-top margin-top">
                <div class = "sign__in_content">
                    <label class="edit__label">Title</label>
                    <input class="edit__input" asp-for="Title">
                </div>
                <div class = "sign__in_content">
                    <label class="edit__label">Body</label>
                    <input class="edit__input" asp-for="Body">
                </div>
                <div class = "sign__in_content">
                    <label class="edit__label">Image</label>
                    <input class="edit__input" asp-for="Image">
                </div>
                <div>
                    <input type="submit" value="Submit" class="button--flex button">
                </div>
            </div>
        </form>
    </div>
</section>