@model IEnumerable<Post>

@{

}

<h2>Home page</h2>

<img src="content/static/3d82d5a0568b6a9f52cd25341e989df4.jpg" width="500px"/>

<div>
    <ul>
        @foreach (var post in Model)
        {
            <li>
                <a asp-controller="Home" asp-action="Post" asp-route-id="@post.Id">
                    @post.Title
                </a>
            </li>
        }
    </ul>
</div>