/*==================== GOOGLE FONTS ====================*/
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600&display=swap');

/*==================== VARIABLES CSS ====================*/
:root {
    --header-height: 3rem;

    /*========== Colors ==========*/
    /* Change favorite color */
    --hue-color: 205; /*Purple 250 - Green 142 - Blue 230 - Pink 340*/

    /* HSL color mode */
    --first-color: hsl(var(--hue-color), 69%, 61%);
    --first-color-second: hsl(var(--hue-color), 69%, 61%);
    --first-color-alt: hsl(var(--hue-color), 57%, 53%);
    --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
    --title-color: hsl(var(--hue-color), 8%, 15%);
    --text-color: hsl(var(--hue-color), 8%, 45%);
    --text-color-light: hsl(var(--hue-color), 8%, 65%);
    --input-color: hsl(var(--hue-color), 70%, 96%);
    --body-color: hsl(var(--hue-color), 60%, 99%);
    --container-color: #FFF;
    --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
    --scroll-thumb-color: hsl(var(--hue-color), 12%, 80%);

    /*========== Font and typography ==========*/
    --body-font: 'Josefin Sans', sans-serif;

    /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;

    /*========== Margins Bottom ==========*/
    /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

/* Font size for large devices */
@media screen and (min-width: 968px) {
    :root {
        --big-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

/*==================== BASE ====================*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;

}

body {
    margin: 0 0 var(--header-height) 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
}

h1, h2, h3, h4 {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

/*==================== REUSABLE CSS CLASSES ====================*/
.section {
    padding: 2rem 0 4rem;
}

.section__title {
    font-size: var(--h1-font-size);
}

.section__subtitle {
    display: block;
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-3);
}

.section__title-left {
    font-size: var(--h1-font-size);
}

.section__subtitle-left {
    display: block;
    font-size: var(--h2-font-size);
}

.section__title,
.section__subtitle {
    text-align: center;
}

.section__title-left,
.section__subtitle-left {
    text-align: left;
}

.margin-bottom {
    margin-bottom: var(--mb-1);
}

.margin-top {
    margin-top: var(--mb-0-5);
}

.trademark {
    display: inline;
    vertical-align: super;
    color: var(--first-color);
    font-size: var(--smaller-font-size);
}

.trademark__grey {
    display: inline;
    vertical-align: super;
    color: var(--text-color-light);
    font-size: var(--smaller-font-size);
}

.button__start {
    display: grid;
    justify-content: start;
}

.button__center {
    display: grid;
    justify-items: center;
}

.button__end {
    display: grid;
    justify-items: end;
}

/*==================== LAYOUT ====================*/
.container {
    max-width: 768px;
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
}

.grid {
    display: grid;
    gap: 1.5rem;
}

.flex {
    display: flex;
    gap: .75rem;
    flex-direction: column;
    align-items: stretch;
}

.flex--center {
    margin-top: 1.75rem;
    display: flex;
    gap: .75rem;
    flex-direction: column;
    align-items: center;
}



.header {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--body-color);
}

/*==================== NAV ====================*/
.nav {
    max-width: 968px;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--small-font-size);
    color: var(--title-color);
    font-weight: var(--font-medium);
}

.nav__link:hover {
    color: var(--first-color);
}

.nav__logo,
.nav__toggle{
    color: var(--title-color);
    font-weight: var(--font-medium);
}

.nav__toggle {
    font-size: 1.1rem;
    cursor: pointer;
}

.nav__toggle:hover {
    color: var(--first-color);
}

.nav__logo:hover {
    color: var(--first-color);
}

@media screen and (max-width: 767px) {
    .nav__menu {
        position: fixed;
        bottom: -100%;
        left: 0;
        width: 100%;
        background-color: var(--body-color);
        padding: 2rem 1.5rem 4rem;
        box-shadow: 0 -1px 4px rgba(0, 0, 0, .15);
        border-radius: 1.5rem 1.5rem 0 0;
        transition: .3s;
    }

    .nav__list {
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }

    .nav__link {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: var(--small-font-size);
        color: var(--title-color);
        font-weight: var(--font-medium);
    }

    .nav__link:hover {
        color: var(--first-color);
    }

    .nav__icon {
        font-size: 1.2rem;
    }

    .nav__close {
        position: absolute;
        right: 1.3rem;
        bottom: .5rem;
        font-size: 1.5rem;
        cursor: pointer;
        color: var(--first-color);
    }

    .nav__close:hover {
        color: var(--first-color-alt);
    }

    /* show menu */
    .show-menu {
        bottom: 0;
    }

    /* Active link */
    .active-link {
        color: var(--first-color);

    }

    /* Change background header */
    .scroll-header {
        box-shadow: 0 -1px 4px rgba(0, 0, 0, .15);
    }
}

/*==================== PANEL ====================*/
.panel__container{
    justify-items: center;
}

.panel__new__post{
    text-align: center;
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}

.panel__new__post:hover{
    color: hsla(109, 100%, 46%, 0.7);
}

.panel__edit__post {
    font-size: var(--small-font-size);
    color: var(--title-color);
    font-weight: var(--font-medium);
}

.panel__edit__post:hover{
    color: hsla(53, 100%, 53%, 0.91);
}

.panel__remove__post {
    font-size: var(--small-font-size);
    color: var(--title-color);
    font-weight: var(--font-medium);
}

.panel__remove__post:hover{
    color: hsl(0, 100%, 50%);
}

.flex__admin-button{
    display: flex;
    gap: .75rem;
    flex-direction: column;
    align-items: center;
}


.margin-top-header{
    margin-top: 1.75rem;
}

.panel__input{
    width: 100%;
    font-size: var(--normal-font-size);
    font-weight: var(--font-semi-bold);
    padding: 1rem;
    border-radius: .5rem;
    border: 1.5px solid var(--first-color-second);
    outline: none;
    margin-bottom: var(--mb-3);
}

.panel__list {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.panel__links {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    align-items: stretch;
}

.panel__link {
    font-size: var(--small-font-size);
    color: var(--title-color);
    font-weight: var(--font-medium);
}

.panel__link:hover{
    color: var(--first-color);
}

.panel__button{
    display: block;
    border: none;
    outline: none;
    font-size: var(--normal-font-size);
    cursor: pointer;
    margin-left: auto;
}

.panel__header-container{
    display: flex;
    margin-top: 1.75rem;   
    gap: .75rem;
    flex-direction: column;
    align-items: stretch;
}

.edit__label{
    font-size: var(--smaller-font-size);
    color: var(--title-color);
}

.edit__input{
    width: 100%;
    background-color: var(--input-color);
    color: var(--text-color);
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    border: none;
    outline: none;
    padding: .25rem .5rem .5rem 0;    
}

.edit__grid{
    padding: .5rem .5rem .5rem 0;
    display: grid;
    gap: 1.5rem;
    justify-content: center;
    justify-items: center;
}

.edit__container{
    margin-top: 1.75rem;
    justify-content: center;
}

/*==================== HOME ====================*/

.home__img {
    width: 350px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.home__links{
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    align-items: baseline;
}

.home__flex{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.home__list{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home__link{
    font-size: var(--normal-font-size);
    color: var(--title-color);
    font-weight: var(--font-medium);
}

.home__link:hover{
    color: var(--first-color);
}

.home__post__description{
    margin-top: var(--mb-1-5);
    color: var(--text-color-light);
}

/*==================== SIGN-IN ====================*/

.sign__in_content{
    background-color: var(--input-color);
    border-radius: .5rem;
    padding: .75rem 1rem .25rem;
}

.sign__in_grid{
    padding: .5rem .5rem .5rem 0;
    display: grid;
    margin-top: 1.75rem;
    gap: 1.5rem;
    justify-content: center;
    justify-items: center;
}

/*==================== BUTTONS ====================*/

.button {
    display: inline-block;
    background-color: var(--first-color);
    color: #FFF;
    padding: 1rem;
    border-radius: .5rem;
    font-weight: var(--font-medium);
}

.button:hover {
    background-color: var(--first-color-alt);
}

.button__icon {
    font-size: 1.25rem;
    margin-left: var(--mb-0-5);
    transition: .3s;
}

.button--white {
    background-color: #FFF;
    color: var(--first-color);
}

.button--white:hover {
    background-color: #FFF;
}

.button--flex {
    display: inline-flex;
    align-items: center;
}

/*========== Button Dark/Light ==========*/
.nav__btns {
    display: flex;
    align-items: center;
}

.change-theme {
    font-size: 1.25rem;
    color: var(--title-color);
    margin-right: var(--mb-1);
    cursor: pointer;
}

.change-theme:hover {
    color: var(--first-color);
}

/*========== Variables Dark theme ==========*/
body.dark-theme {
    --first-color-second: hsl(var(--hue-color), 30%, 8%);
    --title-color: hsl(var(--hue-color), 8%, 95%);
    --text-color: hsl(var(--hue-color), 8%, 75%);
    --input-color: hsl(var(--hue-color), 29%, 16%);
    --body-color: hsl(var(--hue-color), 28%, 12%);
    --container-color: hsl(var(--hue-color), 29%, 16%);
    --scroll-bar-color: hsl(var(--hue-color), 12%, 48%);
    --scroll-thumb-color: hsl(var(--hue-color), 12%, 36%);
}

@media screen and (min-width: 768px) {
    .container {
        margin-left: auto;
        margin-right: auto;
    }
    
    .title__container{
        margin-top: 2rem;
    }

    .nav__list {
        display: flex;
        column-gap: 2rem;
    }   

    .header {
        top: 0;
        bottom: initial;
    }

    .nav__icon,
    .nav__close,
    .nav__toggle {
        display: none;
    }
}